extends layout

block content
  h1= title
  p Welcome to #{title}
  li
    a(href='/customers') Customers: We have #{customerCount} satisfied Customers
  li
    a(href='/products') Products: Show list of #{productCount} Products
  li
    a(href='/orders') Orders: Show list of Current #{orderCount} Orders
